extends layout-user

block head
  title
    if game.gameId
      | Review - #{game.gameName}
    else
      | Play - #{game.name}
  link(href="/assets/css/goban.css", rel="stylesheet")
  link(href="/assets/css/hud.css", rel="stylesheet")

block content
  h4 #{game.gameName ? 'Review of ' + game.gameName : game.name} - #{game.blackPlayerName} vs #{game.whitePlayerName} - #{game.size}x#{game.size}
  div.row
    div.span7
      div#the-goban

    div.span5#hud
      div
        b.turn Turn: black
      div.move-number No move played yet
      ul
        li #{game.blackPlayerName} (black): <span class="captured-black">0</span> captured

        li #{game.whitePlayerName} (white): <span class="captured-white">0</span> captured
      //-button.btn.back(style='display: none;')
        //-b &lt;
      //-button.btn.next(style='display: none;')
        //-b &gt;
      br
      br
      button.btn.pass Pass
      button.btn.resign Resign
      br
      br
      button.btn.undo(style="display: none;") Ask for undo
      div#undo-request(style="display:none;")
      br
      br
      div#points(style="display: none;")
      button.btn.create-review(style="display: none;") Review game
      div.reviews(style="display: none;")
      div#moves(style="display:none;")
        div.inner

    div#can-play(style="display: none;") #{canPlay}
    div#game-id(style="display: none;") #{game._id}
    div#size(style="display: none;") #{game.size}
    div#server-move-tree(style="display: none;") #{game.moves}
    div#current-move-number(style="display: none;") #{game.currentMoveNumber}
    div#game-status(style="display: none;") #{game.status}
    div#review-mode(style="display: none;") #{reviewMode}
    div#initial-reviews(style="display: none;") #{initialReviews}

block append specificJs
  script(type="text/javascript", src="/assets/js/jquery.line.js")
  script(type="text/javascript", src="/assets/js/goban.js")
  script(type="text/javascript", src="/assets/js/gameEngine.js")
  script(type="text/javascript", src="/assets/js/game.js")
