extends layout-user

block head
  title Play - #{game.name}
  link(href="/assets/css/goban.css", rel="stylesheet")


block content
  h4 #{game.name} - #{game.blackPlayerName} vs #{game.whitePlayerName} - #{game.size}x#{game.size}
  div.row
    div.span7
      div#the-goban

    div.span5#hud
      div
        b.turn Turn: black
      div.move-number No move played yet
      ul
        li #{game.blackPlayerName} (black): <span class="captured-black">0</span> captured

        li #{game.whitePlayerName} (white): <span class="captured-white">0</span> captured
      button.btn.back
        b &lt;
      button.btn.next
        b &gt;
      br
      br
      button.btn.pass Pass

    div#can-play(style="display: none;") #{canPlay}
    div#game-id(style="display: none;") #{game._id}

block append specificJs
  script(type="text/javascript", src="/assets/js/goban.js")
  script(type="text/javascript", src="/assets/js/game.js")
  script(type="text/javascript", src="/assets/js/play.js")
